* {
  padding:0;
  margin:0;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#000;
  color:white;
  font-size:1.2em;
}

ul.meals {
  list-style:none;
  margin:0;
  padding:0;
}

li.meal {
  margin:0;
  padding:0;
}

ul.mealitems {
  list-style:none;
  padding:0.2em;
  display:block;
  margin:0;
  padding:0;
}

ul.mealitems li {
}

li.meal_title a {
  color:#ccc;
  padding:0.5em;
  border-top:1px solid #222;
  display:block;
  background:#333 url('bg_weave.png');
  font-size:1.2em;
}

li.meal_note {
  font-style:italic;
  display:none;
  padding-left:0.75em;
}

li.meal_item {
  display:none;
  padding:0.2em;
  padding-left:1.0em;
}

.day_title {
  font-size:0.9em;
  color:#555;
  margin-left:0.5em;
  margin-top:0.3em;
}

.weekday {
  color:#999;
  font-size:1.1em;
}

li.meal-Dinner li.meal_item, li.meal-Dinner li.meal_note {
  display:block;
}
