* {
  padding:0;
  margin:0;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#222;
  color:white;
}

ul.meals {
  list-style:none;
  margin:0;
  padding:0;
}

li.meal {
  margin-bottom:0.5em;
  margin:0;
}

ul.mealitems {
  list-style:none;
  padding:0.2em;
  display:block;
}

.meal_title {
  background:#EEE;
  color:#000;
}
