{% extends "page.html" %}

{% block header %}
<link rel="stylesheet" href="/menu/media/embed.css" type="text/css"/>
{% endblock %}

{% block content %}
  {% for weekday, d, meals in groups %}
  <strong class='day_title'>{{ weekday }} {{ d }}</strong>
  <ul class='meals'>
  {% for meal in meals %}
    <li class='meal'>
        <ul class='mealitems'>
          <li class='meal_title'>{{ meal.type.name }}</li>
          <li class='meal_note'>{{ meal.notes }}</li>
          {% for item in meal.mealitem_set.all %}
          <li class='meal_item'>{{ item.name }} {% if item.vegetarian %}(V){% endif %}</li>
          {% endfor %}
        </ul>
        <!--{% if not meal.rating %}
          <a href='{% url rate_meal meal_id=meal.id,rating=1 %}'><img src='/media/stargrey.png'/></a>
          <a href='{% url rate_meal meal_id=meal.id,rating=2 %}'><img src='/media/stargrey.png'/></a>
          <a href='{% url rate_meal meal_id=meal.id,rating=3 %}'><img src='/media/stargrey.png'/></a>
          <a href='{% url rate_meal meal_id=meal.id,rating=4 %}'><img src='/media/stargrey.png'/></a>
          <a href='{% url rate_meal meal_id=meal.id,rating=5 %}'><img src='/media/stargrey.png'/></a>
        {% else %}
          <a href='{% url rate_meal meal_id=meal.id,rating=1 %}'>{% if meal.rating >= 1 %}<img src='/media/star.png'/>{% else %}<img src='/media/unstar.png'/>{% endif %}</a>
          <a href='{% url rate_meal meal_id=meal.id,rating=2 %}'>{% if meal.rating >= 2 %}<img src='/media/star.png'/>{% else %}<img src='/media/unstar.png'/>{% endif %}</a>
          <a href='{% url rate_meal meal_id=meal.id,rating=3 %}'>{% if meal.rating >= 3 %}<img src='/media/star.png'/>{% else %}<img src='/media/unstar.png'/>{% endif %}</a>
          <a href='{% url rate_meal meal_id=meal.id,rating=4 %}'>{% if meal.rating >= 4 %}<img src='/media/star.png'/>{% else %}<img src='/media/unstar.png'/>{% endif %}</a>
          <a href='{% url rate_meal meal_id=meal.id,rating=5 %}'>{% if meal.rating >= 5 %}<img src='/media/star.png'/>{% else %}<img src='/media/unstar.png'/>{% endif %}</a>
        {% endif %}-->
    </li>
  {% endfor %}
  </ul>
  {% endfor %}
{% endblock %}
